body {
    margin: 0;
    font-family: monospace, sans-serif;
    background-color: #333;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    height: 60px; 
}

nav ul {
    display: flex;
    flex: 1;
    padding-left: 0;
    margin-left: 0;
    list-style-type: none;
    height: 100%; 
}

nav li {
    flex: 1;
    text-align: center;
    margin: 0; 
    height: 100%;
    line-height: 60px; 
    transition: background-color 0.3s;
}

nav li:hover {
    background-color: #555;
}

main {
    padding: 20px;
    color: white;
    margin-bottom: 30px;
}

blockquote {
    background-color: #f0f0f0; 
    border-left: 5px solid #ccc; 
    
    padding: 10px 20px; 
    margin: 20px 0; 
    font-style: italic; 
    color: #333;
}

blockquote p {
    margin: 0;
}

code {
    background-color: black; 
    color: #f8f8f2; 
    padding: 2px 4px;    
    font-family: 'Courier New', Courier, monospace;
}


body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

body.hacker-mode {
    background-color: #000000;
    color: #00ff00;
}

nav.light-mode {
    background-color: #f0f0f0;
    color: #000000;
}

nav.hacker-mode {
    background-color: #000000;
    color: #00ff00;
}

header.light-mode {
    background-color: #f0f0f0;
    color: #000000;
}

header.hacker-mode {
    background-color: #000000;
    color: #00ff00;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  

  footer div {
    display: inline-block;
    flex: 1;
    text-align: center;
    margin: 0; 
    height: 100%;
    line-height: 60px; 
    transition: background-color 0.3s;
  }

  nav ul li, footer div {
    cursor: pointer;
  }
  
  nav ul li:hover, footer div:hover {
    background-color: #ddd;
  }

  @media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav {
        height: auto;
    }
}